html {
    overflow-x: hidden
}

body .body-inner {
    padding: 0;
    margin: 0
}

body .container-wide {
    width: 100%;
    margin: 0 auto;
    padding: 0 60px
}

@media(max-width: 1024px) {
    body .body-inner {
        width:100%;
        margin: 0
    }

    body .container-wide {
        padding: 0 30px
    }
}

@media(min-width: 1024px) {
    body.boxed .body-inner {
        float:none;
        width: 1200px;
        margin: 0 auto
    }

    body.modern .body-inner .container {
        max-width: 1500px
    }

    body.frame:before,body.frame:after {
        border: 10px solid #fff;
        content: "";
        position: fixed;
        width: auto;
        height: 20px;
        z-index: 200;
        box-shadow: 0 0 14px 0 rgba(0,0,0,.1);
        left: 0;
        right: 0
    }

    body.frame:after {
        bottom: 0
    }

    body.frame .body-inner {
        padding: 20px
    }

    body.frame .body-inner:before,body.frame .body-inner:after {
        border: 10px solid #fff;
        content: "";
        position: fixed;
        width: 20px;
        z-index: 200;
        box-shadow: 0 10px 14px 0 rgba(0,0,0,.1);
        top: 20px;
        bottom: 20px;
        left: 0;
        right: auto
    }

    body.frame .body-inner:after {
        left: auto;
        right: 0;
        box-shadow: 0 10px 14px 0 rgba(0,0,0,.1)
    }

    body.frame #scrollTop {
        right: 46px
    }
}

.container-fullwidth {
    margin: 0 auto
}

.container-fullwidth .row {
    padding-left: 15px;
    padding-right: 15px
}

section {
    padding: 80px 0;
    position: relative;
    width: 100%;
    overflow: hidden;
    z-index: 1;
    background-color: #fff
}

@media(max-width: 768px) {
    section {
        padding:40px 0
    }
}

@media(max-width: 1024px) {
    .container {
        padding:0 30px
    }
}


#header {
    position: relative;
    width: 100%;
    z-index: 199!important;
    height: 80px;
    line-height: 80px
}

#header .container {
    position: relative
}

#header .header-inner,#header #header-wrap {
    height: 80px;
    background-color: #fff;
    left: 0;
    right: 0;
    transition: all .4s ease-in-out
}

#header .header-inner #logo,#header #header-wrap #logo {
    float: left;
    font-size: 28px;
    position: relative;
    z-index: 1;
    transition: all .4s ease-in-out;
    height: 80px
}

#header .header-inner #logo a>img,#header #header-wrap #logo a>img {
    vertical-align: inherit;
    transition: all .4s ease-in-out;
    height: 80px;
    width: auto
}

#header .header-inner #logo a>img,#header .header-inner #logo a [class*=logo-],#header #header-wrap #logo a>img,#header #header-wrap #logo a [class*=logo-] {
    display: none
}

#header .header-inner #logo a .logo-default,#header #header-wrap #logo a .logo-default {
    display: block
}

#header .header-inner #logo a,#header .header-inner #logo a span,#header #header-wrap #logo a,#header #header-wrap #logo a span {
    font-family: poppins,sans-serif;
    font-size: 40px;
    color: #1f1f1f;
    font-weight: 800;
    letter-spacing: 1.5px
}

#header[data-fullwidth=true] .header-inner .container,#header[data-fullwidth=true] #header-wrap .container {
    max-width: 100%;
    padding: 0 30px
}

@media(max-width: 1024px) {
    #header .header-inner,#header #header-wrap {
        height:auto
    }

    #header #logo {
        position: absolute!important;
        width: 100%;
        text-align: center;
        margin: 0!important;
        float: none;
        height: 80px;
        left: 0;
        right: 0;
        padding: 0!important
    }

    #header #logo>a {
        display: inline-block
    }

    #header #logo>a img {
        max-height: 80px;
        padding-bottom: 6px
    }

    #header #logo .logo-responsive {
        display: block
    }

 
*,h1,h2,h3,h4,h5,h6,a {
    margin: 0;
    padding: 0;
    text-decoration: none
}

article,aside,figcaption,figure,footer,header,hgroup,main,nav,section {
    display: block
}

html {
    font-size: 88%
}

@media all and (max-width: 768px) {
    html {
        font-size:81.25%
    }
}

body {
    font-size: 1rem;
    line-height: 1.65714286em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: poppins,sans-serif;
    color: #484848
}


a:not(.btn):not(.badge):hover,a:not(.btn):not(.badge):focus,a:not(.btn):not(.badge):active {
    text-decoration: none;
    outline: none;
    color: #2250fc
}

a:not(.btn):not(.badge):not(.btn):not([href]):not([tabindex]) {
    color: #484848
}

.dark h1,.dark h2,.dark h3,.dark h4,.dark h5,.dark h6,.dark .h1,.dark .h2,.dark .h3,.dark .h4,.dark .h5,.dark .h6 {
    color: #999
}

.font-pacifico {
    font-family: dancing script!important
}

.font-nothing-you-could-do,.font-nothing-you-could-do a,.font-nothing-you-could-do h1,.font-nothing-you-could-do h2,.font-nothing-you-could-do h3,.font-nothing-you-could-do h4,.font-nothing-you-could-do h5,.font-nothing-you-could-do h6,h1.font-nothing-you-could-do,h2.font-nothing-you-could-do,h3.font-nothing-you-could-do,h4.font-nothing-you-could-do,h5.font-nothing-you-could-do,h6.font-nothing-you-could-do {
    font-family: nothing you could do,cursive!important;
    font-weight: 400!important
}

.font-herr-von-muellerhoff,.font-herr-von-muellerhoff a,.font-herr-von-muellerhoff h1,.font-herr-von-muellerhoff h2,.font-herr-von-muellerhoff h3,.font-herr-von-muellerhoff h4,.font-herr-von-muellerhoff h5,.font-herr-von-muellerhoff h6,h1.font-herr-von-muellerhoff,h2.font-herr-von-muellerhoff,h3.font-herr-von-muellerhoff,h4.font-herr-von-muellerhoff,h5.font-herr-von-muellerhoff,h6.font-herr-von-muellerhoff {
    font-family: herr von muellerhoff,cursive!important;
    font-weight: 400!important
}

.font-cedarville,.font-cedarville a,.font-cedarville h1,.font-cedarville h2,.font-cedarville h3,.font-cedarville h4,.font-cedarville h5,.font-cedarville h6,h1.font-cedarville,h2.font-cedarville,h3.font-cedarville,h4.font-cedarville,h5.font-cedarville,h6.font-cedarville {
    font-family: 'cedarville cursive',cursive
}

.font-parisienne,.font-parisienne a,.font-parisienne h1,.font-parisienne h2,.font-parisienne h3,.font-parisienne h4,.font-parisienne h5,.font-parisienne h6,h1.font-parisienne,h2.font-parisienne,h3.font-parisienne,h4.font-parisienne,h5.font-parisienne,h6.font-parisienne {
    font-family: parisienne,cursive
}

.inspiro-slider {
    width: 100%;
    height: 72vh;
    overflow: hidden;
    transition: opacity .3s ease;
    min-height: 100%;
    width: 100%
}

.inspiro-slider.slider-halfscreen {
    height: 72vh
}

.inspiro-slider.slider-fullscreen {
    height: 100vh
}

.inspiro-slider.is-fade .slide {
    opacity: 0!important;
    transition: opacity .5s ease!important
}

.inspiro-slider.is-fade .slide.is-selected {
    opacity: 1!important
}

.inspiro-slider .slide {
    overflow: hidden;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 20%;
    z-index: 1;
    width: 100%;
    display: flex!important
}

.inspiro-slider .slide .container,.inspiro-slider .slide .container-wide {
    padding-top: 120px;
    padding-bottom: 100px;
    align-self: center!important
}

.inspiro-slider .slide .slide-captions {
    position: relative;
    text-align: left
}

.inspiro-slider .slide .slide-captions h1 {
    font-size: 80px;
    font-weight: 700;
    line-height: 80px;
    margin-bottom: 30px;
    color: #fff
}

.inspiro-slider .slide .slide-captions h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 68px;
    margin-bottom: 30px;
    color: #fff
}

.inspiro-slider .slide .slide-captions h3,.inspiro-slider .slide .slide-captions h4,.inspiro-slider .slide .slide-captions h5,.inspiro-slider .slide .slide-captions h6 {
    color: #fff
}

.inspiro-slider .slide .slide-captions .strong {
    color: #fff;
    display: block;
    font-size: 12px!important;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 18px;
    margin-bottom: 20px;
    position: relative;
    text-transform: uppercase
}

.inspiro-slider .slide .slide-captions .strong::after {
    border-top: 3px solid #fff;
    content: "";
    display: block;
    margin-bottom: 0;
    margin-top: 8px;
    width: 26px
}

.inspiro-slider .slide .slide-captions>p {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 40px
}

.inspiro-slider .slide .slide-captions .text-dark.strong::after,.inspiro-slider .slide .slide-captions.text-dark .strong::after {
    border-top-color: #111
}

.inspiro-slider .slide .slide-captions.text-left .strong::after {
    margin-left: 0;
    margin-right: auto
}

.inspiro-slider .slide .slide-captions.text-center .strong::after {
    margin-left: auto;
    margin-right: auto
}

.inspiro-slider .slide .slide-captions.text-right .strong::after {
    margin-left: auto;
    margin-right: 0
}

.inspiro-slider .slide .slide-captions .slide-caption-hide {
    opacity: 0;
    visibility: hidden
}

.inspiro-slider .slide .slide-captions img {
    width: inherit!important
}

.inspiro-slider .slide.is-selected {
    z-index: 2
}

.inspiro-slider.slider-loaded,.inspiro-slider.flickity-enabled {
    opacity: 1
}

.inspiro-slider .slide-link {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1
}

.inspiro-slider .flickity-button {
    width: 78px;
    height: 78px;
    line-height: 78px;
    background: 0 0;
    color: #fff;
    box-shadow: none;
    padding: 0
}

.inspiro-slider .flickity-button::before {
    line-height: 78px;
    font-size: 28px;
    color: #fff
}

.inspiro-slider .flickity-page-dots {
    bottom: 30px
}

.inspiro-slider .flickity-page-dots .dot {
    box-shadow: inset 0 0 0 2px #fff
}

.inspiro-slider .flickity-page-dots .dot:after {
    background-color: #fff;
    box-shadow: 0 0 1px #fff
}

.inspiro-slider .slide-captions>* {
    opacity: 0
}

#slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 0;
    background-color: #fff;
    z-index: 1
}

#home {
    width: 100%;
    height: 100%;
    color: #fff
}



#footer {
    display: block;
    position: relative;
    background-color: #f8f9fa;
    font-size: 14px;
    line-height: 32px;
    font-weight: 400;
    font-family: poppins,sans-serif
}



#multiscroll .ms-left .ms-section {
    background-position: 100% center!important
}

#multiscroll .ms-right .ms-section {
    background-position: 0 center!important
}

#scrollTop {
    z-index: -1;
    opacity: 0;
    position: fixed;
    text-align: center;
    line-height: 12px!important;
    right: 26px;
    bottom: 0;
    color: #fff;
    cursor: pointer;
    border-radius: 100px;
    height: 40px;
    width: 40px;
    background-color: rgba(0,0,0,.25);
    background-repeat: no-repeat;
    background-position: center;
    transition: opacity .3s,bottom .5s,box-shadow .3s cubic-bezier(.55,0,.1,1),background-color .1s linear;
    background-color: rgba(0,0,0,.25)!important;
    overflow: hidden
}

#scrollTop i {
    line-height: 39px!important;
    width: 39px!important;
    height: 39px!important;
    font-size: 16px!important;
    top: 0!important;
    left: 0!important;
    text-align: center!important;
    position: relative;
    z-index: 10;
    background-color: transparent!important;
    transform: translate(0,0px);
    transition: transform .2s ease
}

#scrollTop:hover {
    transition: box-shadow .3s cubic-bezier(.55,0,.1,1),background-color .05s linear .25s;
    background-color: transparent!important
}

#scrollTop:hover i {
    transform: translate(0,-39px)!important
}

#scrollTop:after,#scrollTop:before {
    display: block;
    content: ' ';
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #2250fc;
    transform: scale(0);
    transition: all .3s cubic-bezier(.55,0,.1,1);
    border-radius: 100px
}

#scrollTop:before {
    background-color: rgba(255,255,255,.25);
    transform: scale(1);
    transition: all .5s cubic-bezier(.165,.84,.44,1);
    opacity: 0;
    z-index: 2
}

#scrollTop:hover:after {
    transform: scale(1)
}

#scrollTop:active:before {
    opacity: 1
}

.show-grid[class*=col-lg-] .show-grid-block {
    background-color: #eee;
    border: 1px solid #fff;
    display: block;
    line-height: 40px;
    min-height: 40px;
    text-align: center
}

.fontawesome-icon-list i {
    font-size: 18px;
    display: inline-block;
    font-size: 1.3em;
    margin-right: 5px;
    position: relative;
    text-align: center;
    top: 2px;
    width: 30px;
    padding: 16px 0
}

[class^=icon] {
    display: inline-block
}

.img-thumbnail {
    border: 1px solid #eee;
    padding: 1px
}


iframe {
    width: 100%
}



@media(max-width: 768px) {
    .text-lg,.text-lg span {
        font-size:40px!important;
        line-height: 40px!important
    }

    .text-lg-x2,.text-lg-x2 span,.text-lg-x3,.text-lg-x3 span {
        font-size: 30px!important;
        line-height: 30px!important
    }

    .text-medium,.text-medium-light {
        font-size: 40px!important
    }

    .text-medium,.text-medium-light {
        font-size: 30px!important
    }

    .xs-text-center {
        text-align: center!important
    }

    .xs-text-left {
        text-align: left!important
    }

    .xs-text-right {
        text-align: right!important
    }

    .p-xs-20 {
        padding: 20px!important
    }
}

.space {
    width: 100%;
    display: block;
    clear: both;
    height: 60px;
    position: relative
}

@media(max-width: 768px) {
    .text-md,.text-md span,.text-md span span {
        font-size:46px!important;
        line-height: 58px!important
    }
}

@media(max-width: 576px) {
    .text-md,.text-md span,.text-md span span {
        font-size:32px!important;
        line-height: 40px!important
    }
}



.avatar {
    flex-shrink: 0;
    width: 2.7rem;
    height: 2.7rem;
    border-radius: 50%
}

.avatar .avatar-lg {
    width: 3rem;
    height: 3rem
}

.avatar .avatar-sm {
    width: 1.5rem;
    height: 1.5rem
}

.avatar-xl {
    width: 9rem;
    height: 9rem
}

.avatar-lg {
    width: 3rem;
    height: 3rem
}

.avatar-sm {
    width: 1.5rem;
    height: 1.5rem
}

ul.avatars {
    display: flex;
    padding: 0;
    list-style: none
}

ul.avatars>li:not(:last-child) {
    margin-right: -.375rem
}

@media(min-width: 1024px) {
    .avatar.avatar-lg {
        width:4.5rem;
        height: 4.5rem
    }
}

a:not([href]):not([tabindex]):not(.btn) {
    color: none
}


@-webkit-keyframes toTopFromBottom {
    49% {
        -webkit-transform: translateY(-100%)
    }

    50% {
        opacity: 0;
        -webkit-transform: translateY(100%)
    }

    51% {
        opacity: 1
    }
}

@-moz-keyframes toTopFromBottom {
    49% {
        -moz-transform: translateY(-100%)
    }

    50% {
        opacity: 0;
        -moz-transform: translateY(100%)
    }

    51% {
        opacity: 1
    }
}

@keyframes toTopFromBottom {
    49% {
        transform: translateY(-100%)
    }

    50% {
        opacity: 0;
        transform: translateY(100%)
    }

    51% {
        opacity: 1
    }
}

@font-face {
    font-family: inspiro-icons;
    src: url(../webfonts/inspiro-icons92ed.ttf?ijzgpf) format("truetype"),url(../webfonts/inspiro-icons92ed.woff?ijzgpf) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: block
}

i:not(.fa):not(.fab):not(.far):not(.fas) {
    font-family: inspiro-icons!important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}


.text-box {
    padding: 40px;
    text-align: center;
    transition: background .4s ease 0s;
    cursor: pointer
}

.text-box i {
    font-size: 42px;
    margin: 30px 0 20px
}

.text-box i {
    color: #fff;
    transition: all .4s ease 0s
}

.text-box h3,.text-box h5,.text-box p {
    color: #fff;
    transition: all .4s ease 0s
}

.text-box:hover {
    background: #eee
}

.text-box:hover i,.text-box:hover h3,.text-box:hover h5,.text-box:hover p {
    color: #333
}

.text-box.text-box-light {
    border: 1px solid #d9d9d9;
    background: #fff
}

.text-box.text-box-light i,.text-box.text-box-light h3,.text-box.text-box-light h5,.text-box.text-box-light p {
    color: #1f1f1f
}

.text-box.text-box-light:hover {
    background: #2250fc
}

.text-box.text-box-light:hover i,.text-box.text-box-light:hover h3,.text-box.text-box-light:hover h5,.text-box.text-box-light:hover p {
    color: #fff
}

.text-box.hover-effect {
    padding: 30px 30px 10px
}

.text-box.hover-effect i {
    margin: 90px 0 20px
}

.text-box.hover-effect p {
    opacity: 0
}

.text-box.hover-effect:hover i {
    margin: 70px 0 6px
}

.text-box.hover-effect:hover p {
    opacity: 1
}

.feature-box {
    background-color: #fff;
    margin-bottom: 0;
    padding: 44px;
    border-radius: 4px;
    background-clip: padding-box;
    box-shadow: 0 7px 20px -10px rgba(171,171,171,.7);
    transition: all .55s ease;
    text-align: center;
    min-height: 250px
}

.feature-box.feature-box-transparent {
    background-color: transparent;
    box-shadow: none
}

.feature-box.feature-box-transparent:hover {
    background-color: #fff
}

.feature-box>i {
    font-size: 46px;
    margin-bottom: 20px
}

.feature-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 50px -12px rgba(171,171,171,.9)
}

.feature-box:hover h2,.feature-box:hover h3,.feature-box:hover h4 {
    color: #2250fc
}

.feature-box h2,.feature-box h3,.feature-box h4 {
    font-size: 14px;
    text-transform: uppercase;
    transition: all .33s;
    margin-top: 0;
    margin-bottom: 10px
}

.feature-box p {
    font-size: 14px;
    margin-bottom: 0
}

.col-lg-2 .feature-box p {
    font-size: 12px;
    margin-bottom: 0;
    line-height: 18px;
    opacity: .8
}

.icon-boxes {
    box-shadow: 0 6px 38px rgba(0,0,0,.05)
}

.icon-boxx {
    display: inline-flex;
    align-items: flex-start;
    padding: 60px 40px;
    border-left: 1px solid #e6e8eb;
    border-bottom: 1px solid #e6e8eb;
    min-height: 240px
}

.icon-boxx i {
    font-size: 36px;
    font-weight: 100;
    margin-top: 10px
}

.icon-boxx .icon-box-content {
    padding-left: 30px
}

.icon-boxx .icon-box-content h3 {
    font-size: 20px;
    color: #1f1f1f;
    font-weight: 400
}

.icon-boxx .icon-box-content p {
    font-size: 1rem;
    margin-bottom: 0;
    color: #9896a6
}

.flickity-viewport {
    overflow: hidden!important
}

.flickity-slider>div>img,.carousel .polo-carousel-item img {
    width: 100%
}

.carousel[data-auto-width=true] .flickity-slider>div>img,.carousel[data-auto-width=true] .carousel .polo-carousel-item img,.carousel.custom-height .flickity-slider>div>img,.carousel.custom-height .carousel .polo-carousel-item img {
    height: 100%;
    width: auto
}

.flickity-enabled {
    position: relative
}

.flickity-enabled:focus {
    outline: none
}

